{% extends "index.html" %}

{% block content %}
<div class="container mx-auto px-4 py-8 max-w-4xl">
    <h1 class="text-2xl font-bold text-gray-800 mb-6">
        {% if post.id %}
            Редактировать пост
        {% else %}
            <a href="/posts/create" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Создать новый пост
            </a>
        {% endif %}
    </h1>

    <form method="POST" action="{{ request.url }}" class="space-y-4">
        <div>
            <label for="title" class="block text-sm font-medium text-gray-700">Заголовок</label>
            <input type="text" id="title" name="title" value="{{ post.title if post.title else '' }}"
                   class="mt-1 border focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm rounded-md"
                   required>
        </div>

        <div>
            <label for="content" class="block text-sm font-medium text-gray-700">Содержимое</label>
            <textarea id="content" name="content" rows="4"
                      class="mt-1 border focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm rounded-md"
                      required>{{ post.content if post.content else '' }}</textarea>
        </div>

        <div>
            <button type="submit"
                    class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md bg-slate-800 hover:bg-gray-700 text-white focus:outline-none focus:shadow-outline">
                {% if post.id %}
                    Сохранить изменения
                {% else %}
                    Создать пост
                {% endif %}
            </button>
        </div>
    </form>
</div>
{% endblock %}
