


<div class="bg-gray-300">
    <div class="key-features flex justify-center">
        <h1 class="leading-none tracking-tight py-12 text-gray-900 md:text-5xl text-4xl lg:text-6xl">
            Ключевые особенности
        </h1>
    </div>
    <div class="flex gap-8 flex-wrap justify-center py-10">
        <div class="transform rounded-xl h-40 w-40 sm:h-64 sm:w-64 bg-white shadow-xl transition duration-300 hover:scale-105">
            <div class="flex h-full justify-center items-center flex-col">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-slate-600 w-12 h-12 mb-2" viewBox="0 0 24 24">
                    <path d="M14 2H6a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2V8z"></path>
                    <path d="M14 2v6h6"></path>
                </svg>
                <span class="font-bold text-gray-700 text-center">Участки</span>
            </div>
        </div>

        <div class="transform rounded-xl h-40 w-40 sm:h-64 sm:w-64 bg-white shadow-xl transition duration-300 hover:scale-105">
            <div class="flex h-full justify-center items-center flex-col">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-slate-600 w-12 h-12 mb-2" viewBox="0 0 24 24">
                    <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0118 0z"></path>
                    <circle cx="12" cy="10" r="3"></circle>
                </svg>
                <span class="font-bold text-gray-700 text-center">Карта</span>
            </div>
        </div>

        <div class="transform rounded-xl h-40 w-40 sm:h-64 sm:w-64 bg-white shadow-xl transition duration-300 hover:scale-105">
            <div class="flex h-full justify-center items-center flex-col">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-slate-600 w-12 h-12 mb-2" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z" />
                </svg>
                <span class="font-bold text-gray-700 text-center">Новости</span>
            </div>
        </div>

        <div class="transform rounded-xl h-40 w-40 sm:h-64 sm:w-64 bg-white shadow-xl transition duration-300 hover:scale-105">
            <div class="flex h-full justify-center items-center flex-col">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor"
                    class="text-slate-600 w-12 h-12 mb-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 0 1 3 19.875v-6.75ZM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V8.625ZM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V4.125Z" />
                </svg>
                <span class="font-bold text-gray-700 text-center">Голосования</span>
            </div>
        </div>
        
        <div class="transform rounded-xl h-40 w-40 sm:h-64 sm:w-64 bg-white shadow-xl transition duration-300 hover:scale-105">
            <div class="flex h-full justify-center items-center flex-col">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-slate-600 w-12 h-12 mb-2" viewBox="0 0 24 24">
                    <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                    <path d="M22 6l-10 7L2 6"></path>
                </svg>
                <span class="font-bold text-gray-700 text-center">Заявки</span>
            </div>
            
        </div>
        <div class="container mx-auto px-4 pb-12">
            <div class="max-w-4xl mx-auto space-y-6 text-gray-800">
                <div class="flex items-start gap-3">
                <span class="text-xl font-bold text-slate-600">•</span>
                <div>
                    <strong class="text-lg">Упрощение учета и отчетности.</strong>
                    <p class="mt-1">Использование специализированного программного обеспечения позволяет автоматизировать процессы учета денежных средств, коммунальных платежей, а также формировать отчеты для собственников и контролирующих органов.</p>
                </div>
                </div>

                <div class="flex items-start gap-3">
                <span class="text-xl font-bold text-slate-600">•</span>
                <div>
                    <strong class="text-lg">Улучшение коммуникаций.</strong>
                    <p class="mt-1">Автоматизированные системы дают возможность создавать интерактивные площадки для общения между членами ТСЖ, что способствует более открытому и прозрачному управлению.</p>
                </div>
                </div>

                <div class="flex items-start gap-3">
                <span class="text-xl font-bold text-slate-600">•</span>
                <div>
                    <strong class="text-lg">Управление запросами и апелляциями.</strong>
                    <p class="mt-1">Внедрение систем учета обращений собственников, а также контроль за их исполнением, позволяет оперативно реагировать на проблемы и повышать качество обслуживания.</p>
                </div>
                </div>

                <div class="flex items-start gap-3">
                <span class="text-xl font-bold text--600">•</span>
                <div>
                    <strong class="text-lg">Оптимизация процессов управления.</strong>
                    <p class="mt-1">Системы автоматизации помогают в планировании и организации работ по обслуживанию и ремонту, что способствует более эффективному использованию ресурсов.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
