<header class="">
    <div class="min-h-full">
        <nav class="bg-slate-800 bg-opacity-80 transition-all duration-400 ease-out">
            <div class="container mx-auto px-4">
                <div class="flex h-16 items-center justify-between">
                    <!-- logo and nav  -->
                    <div class="flex items-center">
                        <div class="shrink-0">
                            <img class="size-10" src="{{ url_for('static', path='/images/gerb-nv.svg') }}" alt="Your Company">
                        </div>
                        <div class="hidden md:block">
                            <div class="ml-10 flex items-baseline space-x-4">
                                {% if request.cookies.get('access_token') %}
                                    <a href="/" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Главная</a>
                                    <a href="/parcels" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Участки</a>
                                    <a href="/map" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Карта</a>
                                    <a href="/posts" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Новости</a>
                                    <a href="/polls" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Голосования</a>
                                    <a href="/tickets" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Заявки</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- auth buttons  -->
                    <div class="hidden md:block">
                        <div class="ml-4 flex items-center md:ml-6">
                            <div class="relative ml-3">
                                <div class="flex items-center md:order-2 space-x-1 md:space-x-2 rtl:space-x-reverse">
                                    {% if not request.cookies.get('access_token') %}
                                        <a href="/auth/register" class="rounded-md px-3 py-2 text-sm font-medium text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 md:px-5 md:py-2.5 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
                                            Регистрация
                                        </a>
                                        <a href="/auth/login" class="rounded-md px-3 py-2 text-sm font-medium text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 md:px-5 md:py-2.5 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
                                            Войти
                                        </a>
                                    {% else %}
                                        <a href="/auth/logout" class="rounded-md px-3 py-2 text-sm font-medium text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 md:px-5 md:py-2.5 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
                                            Выйти
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>


